<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__tilte"><strong>Sobre</strong></h2>
            <p class="footer__about-text">
                Mussum Ipsum, cacilds vidis litro abertis. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio.Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.Interagi no mé, cursus quis, vehicula ac nisi.Sapien in monti palavris qui num significa nadis i pareci latim.
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email@email.com</li>
                <li><i class="fa-solid fa-phone"></i> (00) 0000-0000</li>
                <li><i class="fa-brands fa-whatsapp"></i> (00) 0 0000-0000</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados.
    </section>

</footer>
